body {
    margin: 0;
    padding: 0;
   
}
.a{
    background: blue;
}
.color{
        background-color: greenyellow;
}
.color2{
    color: rgba(60, 0, 255, 0.877);
}
a:hover{
    color: rgb(255, 0, 0);
}
a{
    text-decoration: none;
    font-size: xx-large;
    color: rgba(191, 0, 255, 0.824);
}
.s1{
    font-size: 50px;
    background-color: red;
    color: blue;
}
.s2{
    font-size: 50px;
    background-color: green;
    color: yellow;
}
.img1{
    border-radius: 50%;
    border-style: double;
    border-color: blue;
}